<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro Test Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/assets/fonts.css" />
  </head>
  <body>
    <div>
      <h1 class="heading_bold">Geologica Heading</h1>
      <h2 class="subheading-semi">TEST</h2>
      <h3 class="heading-bold"> TESTING </h3>

    </div>
  </body>
</html>




